
  
h1{
    text-align: center;
    font-size: xx-large;
  }
  button{
    background-color: aqua;
    font-size: larger;
    border: solid 5px slategray;
    text-align: center;
    display:block;
    margin: auto;
  }